<h1>Display your Pirate here</h1>
  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>


<h2>Display your first ship here</h2>
  <p>Name: <%= @pirate.name %></p>
  <p>Type: <%= @pirate.type %></p>
  <p>Booty: <%= @pirate.booty %></p>


<h2>Display your second ship here</h2>
  <p>Name: <%= @pirate.name %></p>
  <p>Grade: <%= @pirate.weight %></p>
  <p>Grade: <%= @pirate.height %></p>
